<template>
  <li>
    <h2>{{ data.head_title }}</h2>
    <div class="box">
      <dl>
        <dt class="hide"/>
        <dd 
          v-for="item in data.items" 
          :key="item.index">{{ item }}</dd>
      </dl>
    </div>
  </li>
</template>

<script>

export default {
  props: {
    data: {
      type: Object,
      default: () => []
    }
  }
}
</script>

<style lang='scss'>
@import './system-notice.scss';

</style>
