<template>
  <!-- Footer -->
  <footer>
    <h2 class="logo2"><a href="index.html"><img 
      src="template/images/common/logo2.png" 
      alt="Ahasoft"></a></h2>
    <p>© Copyright 2005 by AHASOFT All Right Reserved.</p>
  </footer>
</template>

<script>
export default {
  data () {
    return {
      msg: 'test'
    }
  }
}
</script>

<style lang='scss' scoped>
@import './footer-block.scss';

</style>