<template>
  <main>
    <section 
      id="content" 
      class="index-page">
      <div class="inner">
        <article class="row row-sales">
          <ul class="clearfix">
            <sales-today :data="sales_today_data_view"/>
            <sales-today :data="booking_today_data_view"/>
            <sales-today :data="client_today_data_view"/>
          </ul>
        </article>

        <article class="row row-info">
          <ul class="clearfix">
            <system-notice :data="system_notice_data_view"/>
            <system-notice :data="headquater_notice_data_view"/>
            <system-notice :data="salon_qa_data_view"/>
          </ul>
        </article>
      </div>
    </section>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import sales_today from '../../components/sales-today/sales-today.vue'
import system_notice from '../../components/system-notice/system-notice.vue'

export default {
  components: {
    'sales-today': sales_today,
    'system-notice': system_notice
  },
  computed: {
    // notice
    ...mapGetters('page_home', {
      sales_today_data: 'getSalesToday',
      booking_today_data: 'getBookingToday',
      client_today_data: 'getClientToday',
      system_notice_data: 'getSystemNotice',
      headquater_notice_data: 'getSystemNotice',
      salon_qa_data: 'getSystemNotice'
    }),
    sales_today_data_view() {
      const sales_today_data_tmp = this.sales_today_data
      const tmp_data = {
        head_title: this.$i18n.t('home.sales-today'),
        end_title: this.$i18n.t('home.total-sales'),
        total:
          sales_today_data_tmp.service +
          sales_today_data_tmp.product +
          sales_today_data_tmp.prepaid_card +
          sales_today_data_tmp.prepaid_service,
        items: [
          {
            text: this.$i18n.t('home.service'),
            value: sales_today_data_tmp.service
          },
          {
            text: this.$i18n.t('home.product'),
            value: sales_today_data_tmp.product
          },
          {
            text: this.$i18n.t('home.prepaid-card'),
            value: sales_today_data_tmp.prepaid_card
          },
          {
            text: this.$i18n.t('home.prepaid-service'),
            value: sales_today_data_tmp.prepaid_service
          }
        ]
      }
      return tmp_data
    },
    booking_today_data_view() {
      const booking_today_data_tmp = this.booking_today_data
      const tmp_data = {
        head_title: this.$i18n.t('home.booking-today'),
        items: [
          {
            text: this.$i18n.t('home.service'),
            value: booking_today_data_tmp.total
          },
          {
            text: this.$i18n.t('home.product'),
            value: booking_today_data_tmp.canceles
          },
          {
            text: this.$i18n.t('home.prepaid-card'),
            value: booking_today_data_tmp.no_show
          },
          {
            text: this.$i18n.t('home.prepaid-service'),
            value: booking_today_data_tmp.upcoming_booking
          }
        ]
      }
      return tmp_data
    },
    client_today_data_view() {
      const client_today_data_tmp = this.client_today_data
      const tmp_data = {
        head_title: this.$i18n.t('home.client-today'),
        end_title: this.$i18n.t('home.total'),
        total:
          client_today_data_tmp.new +
          client_today_data_tmp.repeat +
          client_today_data_tmp.walk_in,
        items: [
          {
            text: this.$i18n.t('home.new'),
            value: client_today_data_tmp.new
          },
          {
            text: this.$i18n.t('home.repeat'),
            value: client_today_data_tmp.repeat
          },
          {
            text: this.$i18n.t('home.walk-in'),
            value: client_today_data_tmp.walk_in
          }
        ]
      }
      return tmp_data
    },
    system_notice_data_view() {
      const tmp_data = {
        head_title: this.$i18n.t('home.system-notice'),
        items: this.system_notice_data
      }
      return tmp_data
    },
    headquater_notice_data_view() {
      const tmp_data = {
        head_title: this.$i18n.t('home.headquarter-notice'),
        items: this.headquater_notice_data
      }
      return tmp_data
    },
    salon_qa_data_view() {
      const tmp_data = {
        head_title: this.$i18n.t('home.salon-qa'),
        items: this.salon_qa_data
      }
      return tmp_data
    }
  }
}
</script>

<style lang='scss' scoped>
@import "./home.scss";
</style>