<template>
  <li>
    <h2>{{ data.head_title }}</h2>
    <div class="box">
      <dl 
        class="sub-title" 
        style="width:100%">
        <dd 
          v-for="item in data.items" 
          :key="item.index">
          <span>{{ item.text }}</span>
          <span style="float:right">{{ $n(item.value) }}</span>
        </dd>
      </dl>
      <p 
        v-if="data.total > 0" 
        class="total">
        <span slot="end-title">{{ data.end_title }}</span>
        <strong>{{ $n(data.total) }}</strong>
      </p>
    </div>
  </li>
</template>

<script>

export default {
  props: { 
    data: {
      type: Object,
      default: () => []
    }
  }
}
</script>

<style lang='scss'>
@import './sales-today.scss';
</style>
